.mscon{
  background: linear-gradient(180deg,rgb(217, 217, 217),rgba(217, 217, 217, 0.734),rgb(217, 217, 217));
  /* background-image: url('../media/bgpage1up.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; */
    
}